%table#entries
  %thead
    %tr
      - @entries[:cols].each do |col|
        - if !col[2]
          %th= col[1]
        - elsif col[2] == "rowspan"
          %th{:rowspan=>"2"}= col[1]
        - elsif col[2] == "colspan"
          %th{:colspan=>"2"}= col[1]
        - else
          %th= col[1]
    - if @entries[:under_cols]
      %tr
        - @entries[:under_cols].each do |col|
          - if col[2] == "colspan"
            %th{:colspan=>"2"}= col[1]
          - else
            %th= col[1]
  %tbody
    - @entries[:rows].each do |row|
      %tr
        - $j = 0
        - $k = 0
        - for i in 0..row.count-1
          - $value = row[i]
          - if @entries[:cols][$j][0] == "number"
            - $value = number_to_currency(row[i], :delimiter=>' ', :format=>'%n')
          - if @entries[:cols][$j][2] == "colspan"
            %td{:value=>row[i], :class=>@entries[:cols][$j][0]}= $value
            - $k = $k + 1
            - if $k > 1
              - $j = $j + 1
              - $k = 0
          - else
            %td{:value=>row[i], :class=>@entries[:cols][$j][0]}= $value
            - $j = $j + 1
  %tfoot
    %tr
      - @entries[:cols].each do |col|
        - if col[2] == "colspan"
          %th{:class=>col[0]}
          %th{:class=>col[0]}
        - else
          %th{:class=>col[0]}