<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= collection_select(:invoice, :category_id, Category.order('label ASC'), :id, :label) %>
  </div>
  <div class="field">
    <%= f.label :payment_mode %>
    <%= collection_select(:invoice, :payment_mode_id, PaymentMode.order('label ASC'), :id, :label) %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :rate %>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :invoice_status %>
    <%= collection_select(:invoice, :invoice_status_id, InvoiceStatus.order('label ASC'), :id, :label) %>
  </div>
  <div class="field">
    <%= f.label :bank %>
    <%= collection_select(:invoice, :bank_id, Bank.order('name ASC'), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :cheque_number %>
    <%= f.text_field :cheque_number %>
  </div>
  <div class="field">
    <%= f.label :invoice_number %>
    <%= f.text_field :invoice_number %>
  </div>
  <div class="field">
    <%= f.label :to_accountant %>
    <%= collection_select(:invoice, :to_accountant_id, ToAccountant.order('label ASC'), :id, :label) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
