
<div class="filter">
<%= link_to 'New Bank', new_bank_path, :class=>'button' %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banks.each do |bank| %>
  <tr>
    <td><%= bank.name %></td>
    <td><%= link_to 'Show', bank %></td>
    <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
    <td><%= link_to 'Delete?', bank, :confirm=>"Are you sure", :method=>:delete %></td>
  </tr>
<% end %>
</table>
