<div class="filter">
	<%= link_to 'New Invoice status', new_invoice_status_path, :class=>'button' %>
</div>
<table>
  <tr>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoice_statuses.each do |invoice_status| %>
  <tr>
    <td><%= invoice_status.label %></td>
    <td><%= link_to 'Show', invoice_status %></td>
    <td><%= link_to 'Edit', edit_invoice_status_path(invoice_status) %></td>
    <td><%= link_to 'Delete?', {:action=>:destroy, :id=>invoice_status.id}, :confirm=>"Are you sure", :method=>:delete %></td>
  </tr>
<% end %>
</table>