<%= form_for(@to_accountant) do |f| %>
  <% if @to_accountant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@to_accountant.errors.count, "error") %> prohibited this to_accountant from being saved:</h2>

      <ul>
      <% @to_accountant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %>
    <%= f.text_field :label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
