<div class="filter">
	<%= link_to 'New To accountant', new_to_accountant_path, :class=>'button' %>
</div>

<table>
  <tr>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @to_accountants.each do |to_accountant| %>
  <tr>
    <td><%= to_accountant.label %></td>
    <td><%= link_to 'Show', to_accountant %></td>
    <td><%= link_to 'Edit', edit_to_accountant_path(to_accountant) %></td>
    <td><%= link_to 'Delete?', {:action=>:destroy, :id=>to_accountant.id}, :confirm=>"Are you sure", :method=>:delete %></td>
  </tr>
<% end %>
</table>