<!DOCTYPE html>
<html>
<head>
  <title>Midas</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
	<div id="header">
		<h1 style="float:left;margin:0;">Midas</h1>
	</div>
	<div id="menu" style="clear:both">
		<%=link_to "Listing of invoices", invoices_path %>
		<%=link_to "Balances", balances_invoices_path %>
		<%=link_to "By categories" , categories_invoices_path %>
		<%=link_to "Cash Flow", :controller => 'invoices', :action => 'cashflow' %>
	</div>

	<div id="container">
		<%= yield %>
	</div>
</div>
</body>
</html>
