<!DOCTYPE html>
<html>
<head>
  <title>Midas</title>
  <%= stylesheet_link_tag "style" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
	<div id="header">
		<h1 style="float:left">Midas</h1>
		<div style="float:right;">
		<% if session[:auth] %>
		<%=link_to "Logout", :controller => 'application', :action => 'logout' %>
		<% else %>
		<%=link_to "Login", :controller => 'application', :action => 'login' %>
		<% end %>
		</div>
		
	</div>
	<div id="menu" style="clear:both">
		<%=link_to "Index", '/'%>
		<%=link_to "Listing of invoices", :controller => 'invoices', :action => 'index' %>
		<%=link_to "Balances", :controller => 'invoices', :action => 'balances' %>
		<%=link_to "By categories", :controller => 'invoices', :action => 'categories' %>
		<%=link_to "Cash Flow", :controller => 'invoices', :action => 'cashflow' %>
		<% if session[:auth] %>
		<div style="float:right; font-size:14px; line-height:24px;">
		Configuration : 
		<%=link_to "Categories", :controller => 'categories', :action => 'index' %>
		<%=link_to "Banks", :controller => 'banks', :action => 'index' %>
		<%=link_to "Invoice status", :controller => 'invoice_statuses', :action => 'index' %>
		<%=link_to "Payment modes", :controller => 'payment_modes', :action => 'index' %>
		<%=link_to "To accountant", :controller => 'to_accountants', :action => 'index' %>
		</div>
		<% end %>
	</div>

	<div id="container">
		<%= yield %>
	</div>
</div>
</body>
</html>
