!!!
%html
  %head{:profile => "http://gmpg.org/xfn/11"}
    %title Midas
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main
      #header
        = link_to 'Midas', entries_path(:table => 'main')
    - if user_signed_in?
      #menu
        = link_to 'Full List', entries_path(:table => 'main')
        = link_to 'Group by accounts', entries_path(:table => 'accounts')
        = link_to 'Group by categories', entries_path(:table => 'categories')
        = link_to "Cash Flow", entries_path(:table => 'cashflow')
        = link_to 'Admin', '/admin'

    #container
      = yield