!!!
%html
  %head{:profile => "http://gmpg.org/xfn/11"}
    %title Midas
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    #main
      #header
        %h1.website_title <span style="color:#444">M</span><span style="color:#666">idas</span>
        %div{:class => "log_admin_box"}
          - if user_signed_in?
            = link_to 'Admin', '/admin'
            %br
            = link_to 'Log out', 'users/sign_out'
          - else
            = link_to 'Log in', '/admin'
    #menu
      = link_to 'Full List', entries_path(:table => 'main')
      = link_to 'Group by accounts', entries_path(:table => 'accounts')
      = link_to 'Group by categories', entries_path(:table => 'categories')
      = link_to "Cash Flow", entries_path(:table => 'cashflow')

    #container
      = yield